*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  background-color: #161513;
  color:white;
}
.Home{
  margin-top: 50px;
}
.Others{
  margin-top: 50px;
}
.Projects{
  margin-top: 50px;
}
.About{
  margin-top: 50px;
}
.Contact{
  margin-top: 50px;
}